@import url(./_is-disabled/button_is-disabled.css);
@import url(./_is-enabled/button_is-enabled.css);

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 30px;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}
