.popup-image__content {
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    max-height: 80vh;
  }